@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    width: 100vw;
}
/* <a className="font-melodrama btn btn-secondary rounded-[80px] h-auto py-4 px-8 text-xl group relative flex justify-center items-center w-[15.5rem] transition-all duration-300 ease-in-out">
                        <span className="basis-full text-center transition-all duration-300 ease-in-out group-hover:mr-4">acheter le vinyle</span>
                        <span className="flex items-center opacity-0 group-hover:opacity-100 absolute right-4 transition-opacity duration-300 ease-in-out">
                            →
                        </span>
                    </a> */

@layer base {
    /* .button-arrow{
       @apply font-melodrama btn btn-secondary rounded-[80px] h-auto py-4 px-8 text-xl group relative flex justify-center items-center w-[15.5rem] transition-all duration-300 ease-in-out;
    }
    .button-arrow span:first-child{
        @apply basis-full text-center transition-all duration-300 ease-in-out group-hover:mr-4;
    }
    .button-arrow span:last-child{
        @apply flex items-center opacity-0 group-hover:opacity-100 absolute right-4 transition-opacity duration-300 ease-in-out;
    } */
    @font-face {
        font-family: "Melodrama";
        font-weight: 700;
        letter-spacing: 2%;
        line-height: 27px;
        src: url("/fonts/Melodrama-Variable.woff2") format("woff2");
    }
    .logo-app-streaming {
        width: clamp(5.5rem, 20vw, 9rem);
    }
    h1 {
        font-size: clamp(1.6rem, 7vw, 4rem);
    }

    @font-face {
        font-family: "GarciaMarquez";
        line-height: 105px;
        letter-spacing: 2%;
        font-weight: 400;
        src: url("/fonts/GarciaMarquez.otf") format("openType");
    }

    .scale-125 {
        @apply transition-transform duration-500 ease-in-out;
        transform: scale(1.25);
    }
}
nav {
    transition: border-color 0.5s;
}
nav:hover {
    border-color: aqua;
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
