@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    width: 100vw;
    /* overflow-x: hidden; */
}
html {
    scroll-behavior: smooth;
}
/* [id^="cover"]::before {
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
    pointer-events: none;
} */
.deezer,
.spotify,
.apple-music {
    transition: all 250ms ease-in-out;
}
.spotify:hover {
    background: rgb(55, 77, 29);
    background-image: radial-gradient(circle, rgba(55, 77, 29, 0.7) 0%, rgba(73, 102, 39, 0.7) 100%);
}
.deezer:hover {
    background: rgb(134, 101, 3);
    background-image: linear-gradient(
        127deg,
        rgba(134, 101, 3, 1) 0%,
        rgba(225, 81, 45, 1) 24%,
        rgba(183, 57, 155, 1) 46%,
        rgba(74, 146, 211, 1) 65%,
        rgba(115, 87, 3, 1) 100%
    );
}
.apple-music:hover {
    background: rgb(117, 117, 117);
    background-image: radial-gradient(circle, rgba(117, 117, 117, 1) 0%, rgba(82, 82, 82, 1) 50%, rgba(51, 51, 51, 1) 100%);
}

.text-cover {
    font-size: clamp(1.2rem, 2.5vw, 3rem);
}
@layer base {
    .logo-app-streaming {
        width: clamp(5rem, 15vw, 6.5rem);
    }
    h1 {
        font-size: clamp(1.7rem, 7vw, 4rem);
    }

    .scale-125 {
        @apply transition-transform duration-500 ease-in-out;
        transform: scale(1.25);
    }
}
nav {
    transition: border-color 0.5s;
}
nav:hover {
    border-color: aqua;
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
